// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-weight-400: 400;
$font-family-normal: normal;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$realblack: #000;
$white: #fff;
$black: #141414;
$grey-dark: #3c3c3c;
$grey: #6b6b6b;
$main-grey: #888888;
$grey-b: #bdbdbd;
$grey-d: #d8d8d8;
$grey-light: #e1e4e8;
$grey-lighter: #ececec;
$grey-white: #f6f6f6;
$grey-whiter: #f9f9f9;
$grey-whiter2: #f8f8f8;
$violet: #351369;
$violet-2: #532493;
$violet-3: #4f00b5;
$violet-4: #6534a7;
$violet-5: #1e1438;
$violet-6: #1e143b;
$purple: #7322a9;
$purple-1: #7000d2;
$purple-2: #78139b;
$purple-white: #faf4ff;
$green: #02855a;
$red: #ff0000;
$red-dark: #793939;
$violet-dark: #0e0623;
// Dark mode:
$black2: #150c2d;
$black3: #201345;
$darkgrey: #190f33; //#2b1c56;
$darkgrey2: #39276a;
$darkmood: #261b44;
$table-row: #39276a;
$table-row2: #39276a;
$black4: #201441;
$newviolet: #7665a7;
$purple-turn: #2b1c56;
//gradients
$type-gradient: linear-gradient(180deg, #1b1b1b 19.57%, #000000 140.16%);
$darkpurle: #160E2D;
$vivepurple: #4119B5;
$mauve: #6A5A97;
$grey-separator: #1E143B;
$purple-darker: #1C1137;
$purple-smooth: #2A1460;
$purple-smooth-dark: #160B33;

// Fonts
$proxima: "Proxima Nova";
// Screen sizes
$screen-xl: 1921px;
$screen-xl-max: 1920px;